body {
  color: #817777;
  background: #000;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  margin: 0 0 30px;
}

button {
  border: 0;
  margin: 5px;
  color: #000; 
  font-size: 30px;
  cursor: pointer;
  background: #fff;
  padding: 10px 30px;
}

.container {
  max-width: 1070px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.card__wraper {
  gap: 15px;
  margin: -15px; 
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  margin: 15px;
  padding: 20px;
  max-width: 100%;
  background-color: #f1f1f1;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__header button {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar Css */
nav a.active {  
    color: red;
}

@media only screen and (max-width: 767px)  {

  .card__wraper {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 575px)  {

  .card__wraper {
      grid-template-columns: repeat(1, 1fr);
  }
}